*{
    padding: 10px;
    margin: 0;
    box-sizing: content-box;
}
#box{
    height: 100px;
    width: 200px;
    background-color: peachpuff;
}.box{
    background-color: gold;
    width: 100px;
    height: 300px;
}
.box1{
    background-color: purple;
    width: 300px;
    height: 150px;
}
.box2{
    background-color: lightpink;
    width: 100px;
    height: 120px;
}
.box3{
    background-color: lightpink;
    width: 100px;
    height: 120px;
    margin-top: 5px;
}
.box4{
    background-color: gold;
    width: 100px;
    height: 120px;
}
.box5{
    background-color: purple;
    width: 200px;
    height: 120px;
}
.box6{
    background-color: lightgoldenrodyellow;
    height: 500px;
    width: 120px;
}

.container{
    display: flex;
    justify-content: stretch;
    height: 100vh;
    width: 100%;
    align-items: center;
}

@media screen and( max-width:600px).container {
    flex-direction:column;
}