*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
  height:100%;
}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#1aa6a6,#0f8c8c);
}

.card{
  width:350px;
  background:#fff;
  border-radius:20px;
  overflow:hidden;
  text-align:center;
  box-shadow:0 20px 40px rgba(0,0,0,0.15);
  position:relative;
}


.card-top{
  height:150px;
  background:
  radial-gradient(circle at 20% 30%, rgba(255,255,255,0.2) 30px, transparent 31px),
  radial-gradient(circle at 70% 40%, rgba(255,255,255,0.2) 25px, transparent 26px),
  radial-gradient(circle at 40% 70%, rgba(255,255,255,0.2) 35px, transparent 36px),
  #20b2aa;
}

.profile-img{
  position:absolute;
  top:90px;
  left:50%;
  transform:translateX(-50%);
  background:#fff;
  padding:5px;
  border-radius:50%;
}

.profile-img img{
  width:110px;
  height:110px;
  border-radius:50%;
  object-fit:cover;
}

.card-body{
  padding-top:80px;
  padding-bottom:20px;
}

.card-body h2{
  font-size:22px;
  font-weight:700;
  color:#333;
}

.card-body span{
  font-weight:400;
  color:#888;
  margin-left:5px;
}

.location{
  color:#aaa;
  margin-top:6px;
  font-size:14px;
}

.card-footer{
  display:flex;
  justify-content:space-around;
  padding:20px 0;
  border-top:1px solid #eee;
}

.card-footer h3{
  font-size:18px;
  font-weight:700;
}

.card-footer p{
  font-size:12px;
  color:#999;
  margin-top:5px;
  letter-spacing:1px;
}