* {
  box-sizing: border-box;
}

.card {
  display: flex;
  width: 900px;
  background: #f5eee6;
  justify-content: center;
}

.left,
.right {
  flex: 1;
}

.left {
  height: auto;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.right {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background: #1f4d3a;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 8px;
}
@media screen (max-width: 600px) {
    .card{
        flex-direction: column;
        width: 100%;
        margin:10px
    }
}