#box{
        height: 200px;
        width: 200px;
        background-color: greenyellow;
        border: 10px solid blue;
        padding: 15px;
        color: blue;
        animation-name: webbit;
        animation-duration: 2s;
        animation-iteration-count: infinite; 
      }
      #box>h1{
            text-align: center;
      }
      .box{
        height: 200px;
        width: 200px;
        background-color: red;
        margin-top: 10px;
        border-width: 10px;
        border-color: black;
        border-style: double;
        padding: 0 15px 0 15px;
        color: white;
        animation-name: dave;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        position: relative;
      }
      .box>h1{
        color: black;
        background-color: white;
        text-align: center;
      }

      @keyframes webbit {
        from{background-color: greenyellow;}
        to{background-color: black;}                
      }

      @keyframes dave {
        0% {background-color: red; left: 0px; top: 0px;}
        25% {background-color: purple; left: 200px; top: 0px;}
        50%{background-color: orange; left: 200px; top: 200px;}
        70%{background-color: pink;left: 0px; top: 200px;}
        100%{background-color: green; left: 0px; top: 0px;}   
      }