*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content:center;
    background: #f5eee6;
}
.box,
.box1{
    flex: 1 ;
    justify-content: space-around;
    width: 50%;
}
.box1{
    height: auto;
}
.box1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}
.box{
    padding: 40px; 
    justify-content: ;
    
}
button{
    padding: 14px;
    background: #1f4d3a;
    color: white;
    border: none;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
.cat{
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
}
h2{
    margin: 15px 0;
}
h6{
    color: #555;
    line-height: 1.6;
    font-size: 14px;
}
.price{
    margin: 40px 0;
}
.current{

    
}
.old{
    color: gray;
    margin-left: 10px;
}
body{
    justify-content: center;
}
@media screen and (max-width:680px) {
    .card{
        flex-direction: column;
    }
    .box1, .box { 
        width: 100%;
    }
    button{
        width: 100%;
    }
}